<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cagurzhan.mapper.PatternMapper">
    <resultMap type="Pattern" id="PatternResult">
        <id property="id" column="id"/>
        <result property="pclassId" column="pclass_id"/>
        <result property="piClass" column="pi_class"/>
        <result property="name" column="name"/>
        <result property="src" column="src"/>
        <result property="yugou" column="yugou"/>
        <result property="yuyi" column="yuyi"/>
        <result property="yuyong" column="yuyong"/>
        <result property="picMain" column="pic_main"/>
        <result property="picSimple" column="pic_simple"/>
        <result property="picColor" column="pic_color"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <association property="pClass" column="pclass_id" javaType="PClass" resultMap="PClassResult"/>
    </resultMap>

    <resultMap id="PClassResult" type="PClass">
        <id property="id" column="id"/>
        <result property="pclass" column="pclass"/>
    </resultMap>

    <sql id="selectPattern">
        select p.id,
               p.pclass_id,
               p.pi_class,
               p.name,
               p.src,
               p.yugou,
               p.yuyi,
               p.yuyong,
               p.pic_main,
               p.pic_simple,
               p.pic_color,
               p.del_flag,
               p.create_by,
               p.create_time,
               c.id,
               c.pclass
        from tb_pattern p
                 left join tb_pclass c on c.id = p.pclass_id
    </sql>
    <select id="selectPageList" resultMap="PatternResult">
        <include refid="selectPattern" />
        ${ew.getCustomSqlSegment}
    </select>

</mapper>